* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.passport {
    top: 14px;
    left: 17px;
}

.download {
    left: 0;
    bottom: 70px;
}

.landing-page {
    height: 100vh;
    width: 100vw;
}

.capture-page {
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    position: absolute;
    left: 0;
    top: 0;
}

.menuc {
    position: relative;
    left: 281px;
}

.capture {
    background-color: white;
    position: absolute;
    left: 39px;
    top: 78px;
    width: 321px;
    height: 483px;
    border-radius: 23px;
}

.passportc {
    top: 14px;
    left: 17px;
    height: 471px;
    width: 330px;
}

video {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.buttoncap {
    height: 32px;
    position: relative;
    left: 147px;
    top: -40px;
    background: initial;
}

.buttonclose {
    height: 29px;
    left: 259px;
    bottom: 243px;
    position: relative;
    background: initial;
}

.name {
    position: relative;
    bottom: -30px;
    left: 49px;
    height: 42px;
    width: 231px;
    text-align: center;
    background-color: silver;
    color: grey;
    font-style: bold;
}

.save {
    position: relative;
    bottom: -68px;
    left: 75px;
}



/* PASSPORT CSS */

.passport {
    width: 345.9999828243401px;
    height: 466.9999768178232px;
    position: relative;
    top: 16.69586181640625px;
    left: 40px;
    transform: rotate(-5.55deg);
}

.mypassport {
    background-color: #0394C3;
    width: 172.61150266192365px;
    height: 245.67708131029232px;
    position: relative;
    border-radius: 5px 15px 15px 5px;
    transform: rotate(-5.55deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.passport-inside {

    width: 350px;
    height: 350px;
    position: relative;
    top: -160px;
    left: 30px;
    transform: rotate(14deg);
}

.passport-rectangle {
    background-color: white;
    border: 1px solid grey;
    width: 296.3968171467737px;
    height: 48.99999951700663px;
    position: relative;
    top: 0px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px -2px 10px #3F3F3F;
}

.passport-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid grey;
    width: 177.61124846009196px;
    height: 296.04320727188957px;
    position: relative;
    top: -101px;
    left: 59px;
    transform: rotate(-90deg);
    border-radius: 2px 25px 25px 2px;
    background-image: linear-gradient(to left, white 85%, #929292);
}

.passport-top img {
    width: 91px;
    height: 119px;
    left: 37px;
    position: relative;
    top: 5px;
    transform: rotate(90deg);
}

.information {
    top: 33px;
    position: relative;
    transform: rotate(90deg);
    left: -12px;
}

.passport-bottom {
    border: 1px solid grey;
    width: 194.07320798652032px;
    height: 295.75005542198465px;
    position: relative;
    left: 51px;
    top: -261px;
    transform: rotate(90deg);
    border-radius: 2px 25px 25px 2px;
    background-image: linear-gradient(to left, white 85%, #929292);
}

.continents-text {
    left: -56px;
    transform: rotate(271deg);
    position: absolute;
    top: 140px;
}

.continents {
    position: relative;
    top: 49px;
    transform: rotate(-102deg);
    left: -39px;
}

.passport-bottom-rectangle {
    background-color: white;
    border: 1px solid grey;
    width: 295.5339272418165px;
    height: 48.999998623008px;
    position: relative;
    border-radius: 25px 25px 0px 0px;
    transform: rotate(180deg);
    top: -13px;
    box-shadow: 0px 2px 10px #3F3F3F;
}